public_html/
/wp-admin/
/wp-content/
/wp-includes/
html/
.idea/
.well-known/
cgi-bin/
pakket/
scripts/


/staging-2/*
!/staging-2/wp-config.php
!/staging-2/wp-content/
/staging-2/wp-content/*
!/staging-2/wp-content/plugins/
/staging-2/wp-content/plugins/*
!/staging-2/wp-content/plugins/shaversclub-store/
/staging-2/wp-content/plugins/shaversclub-store/*
!/staging-2/wp-content/plugins/shaversclub-store/mollie.php
!/staging-2/wp-content/plugins/shaversclub-store/includes/
/staging-2/wp-content/plugins/shaversclub-store/includes/*
!/staging-2/wp-content/plugins/shaversclub-store/includes/class-cart.php
!/staging-2/wp-content/plugins/shaversclub-store/includes/class-mollie.php
!/staging-2/wp-content/plugins/shaversclub-store/includes/class-order.php
!/staging-2/wp-content/plugins/shaversclub-store/includes/class-customer.php

!/staging-2/wp-content/themes/
/staging-2/wp-content/themes/*
!/staging-2/wp-content/themes/shaversclub/
/staging-2/wp-content/themes/shaversclub/*
!/staging-2/wp-content/themes/shaversclub/single-product.php
!/staging-2/wp-content/themes/shaversclub/header.php
!/staging-2/wp-content/themes/shaversclub/style.css
!/staging-2/wp-content/themes/shaversclub/css/
/staging-2/wp-content/themes/shaversclub/css/*
!/staging-2/wp-content/themes/shaversclub/css/style.css
!/staging-2/wp-content/themes/shaversclub/js/
/staging-2/wp-content/themes/shaversclub/js/*
!/staging-2/wp-content/themes/shaversclub/js/newCart.js
!/staging-2/wp-content/themes/shaversclub/js/customscript.js

!/staging-2/wp-admin/
/staging-2/wp-admin/*
!/staging-2/wp-admin/admin-cors-ajax.php